code-block {
    display: block;

    /**
     * Don't show until JavaScript is ready
     */
    &:not(:defined) {
        visibility: hidden;
    }

    & .code-block-inner {
        position: relative;
    }

    & .code-block-controls {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
